.selection ul {
  list-style: none;
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #fff;
  padding: 0;
}

.selection li {
  background-color: black;
  padding: 1%;
}

.selection li:hover {
  background-color: #ff005d;
  color: black;
}