header {
  background-color: black;
  position: static;
  top: 0;
  left: 0;
  padding: 0.5%;
  display: flex;
  justify-content: flex-end;
}

.back {
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

footer {
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5%;
  padding-left: 100%;
}

footer:hover {
  color: #00c367;
  cursor: crosshair;
}

.marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-300%, 0); }
}

.App {
  text-align: center;
}

.container {
  display: grid;
  margin: auto 5%;
  grid-template-columns: repeat(5, 1fr);
  min-height: 80vh;
  grid-gap: 10px;
}

.container img {
  grid-column: 3 / 4;
  border-radius: 10%;
  margin-top: 5%;
}

#container-text {
  grid-column: 2 / 5;
  text-align: justify;
  justify-content: center;
}