.App {
  text-align: center;
}

.container {
  display: grid;
  margin: auto 5%;
  grid-template-columns: repeat(5, 1fr);
  min-height: 80vh;
  grid-gap: 10px;
}

.container img {
  grid-column: 3 / 4;
  border-radius: 10%;
  margin-top: 5%;
}

#container-text {
  grid-column: 2 / 5;
  text-align: justify;
  justify-content: center;
}