.status {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, aut0);
  grid-gap: 5%;
}

.status h1 {
  grid-column: 1 / 6;
}

#nav4 {
  text-decoration: none;
  color: #fff;
  background-color: #ff005d;
  justify-items: center;
  align-items: center;
  border: 1px solid #000;
  padding: 1%;
  font-size: 1em;
}

#nav4:hover {
  cursor: pointer;
  background-color: #00c367;
  color: black;
  border: 1px solid #fff;
}

#status-report {
  grid-column: 2 / 5;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  background-color: black;
  word-wrap: break-word;
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.loader {
  grid-column: 2 / 5;
}

#status-report > #success {
  color: #00c367;
}

#status-report #failure {
  color: #ff005d;
}

.highlight {
  color: #ff005d;
}

#spinner {
  position:fixed;
  top: 80%;
  left: 46%;
  padding: 1%;
  margin: 0%;
  -webkit-animation: spin 1s infinite linear;
  border: 10px solid #fff;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
