@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body {
  margin: 0;
  padding: 0;
  background: #19131d /*url(./assets/dust-1s-200x200px.gif)*/;
  font-family: 'Alfa Slab One', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

